<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<table class="table">
				<thead>
					<tr>
						<th>
							BID
						</th>
						<th>
							ISBN
						</th>
						<th>
							書名
						</th>
						<th>
                            功能                        
						</th>
					</tr>
				</thead>
				<tbody>
                
                
Notice: Undefined variable: list in C:\AppServ\www\TTS\application\views\~ReportView.php on line 25

Call Stack:
    0.0492     328704   1. {main}() C:\AppServ\www\TTS\application\views\~ReportView.php:0


Warning: Invalid argument supplied for foreach() in C:\AppServ\www\TTS\application\views\~ReportView.php on line 25

Call Stack:
    0.0492     328704   1. {main}() C:\AppServ\www\TTS\application\views\~ReportView.php:0

				</tbody>
			</table>
            
Notice: Undefined variable: pagination in C:\AppServ\www\TTS\application\views\~ReportView.php on line 54

Call Stack:
    0.0492     328704   1. {main}() C:\AppServ\www\TTS\application\views\~ReportView.php:0

		</div>
	</div>
</div>